@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');

.Link {
  text-decoration: none;
}

.Logo {
  font-size: 24px;
  text-shadow:
  -1px -1px 0 #fff,
   1px -1px 0 #fff,
   -1px 1px 0 #fff,
    1px 1px 0 #fff,
    2px 2px 0 #fff;
  color: #0070a0;
  letter-spacing: 5px;
  white-space:nowrap;
  overflow: hidden;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  transition: all 0.2s;
  font-family: 'Russo One', sans-serif;
}

@media (hover: hover) {
  .Logo:hover {
    text-shadow:
    -1px -1px 0 #fff,
     1px -1px 0 #fff,
     -1px 1px 0 #fff,
      1px 1px 0 #fff;
    transform: translate(1px, 1px);
  }
}
