@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

.FloatBtn {
  padding: 7px;
  border: 2px solid #fff;
  border-radius: 0.2em;
  width: 200px;
  margin: 10px;
  font-size: 22px;
  transition: all 0.2s;
  font-family: 'Ubuntu Mono', monospace;
  box-shadow:
  -0.1vw -0.1vw 0 #fff,
   0.1vw -0.1vw 0 #fff,
   -0.1vw 0.1vw 0 #fff,
    0.1vw 0.1vw 0 #fff,
    0.2vw 0.2vw 0 #fff,
    0.3vw 0.3vw 0 #fff,
    0.4vw 0.4vw 0 #fff;
}

.FloatBtn:active {
  box-shadow:
  -0.1vw -0.1vw 0 #fff,
   0.1vw -0.1vw 0 #fff,
   -0.1vw 0.1vw 0 #fff,
    0.1vw 0.1vw 0 #fff;
  transform: translate(0.4vw, 0.4vw);
}

.Link {
  text-decoration: none;
  color: white;
}