.Toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0070a0;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  box-sizing: border-box;
  z-index: 90;
}

.Toolbar nav {
  height: 100%;
}

.Logo {
  height: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 56px;
  font-size: 20px;
}

@media (max-width: 649px) {
  .DesktopOnly {
    display: none;
  }
}
