@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');
@import '../../../utils/mediaQueries.scss';

$sidedrawer-top: 2.8em;

$m-m: 1.2;
$m-l: 1.3;
$m-xl: 1.5;
$m-xxl: 2;
$m-r: 3;


.SideDrawer {
  position: fixed;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  top: $sidedrawer-top;
  right: 0;
  z-index: 80;
  background-color: #0070a0;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
  font-size: 20px;
}

@media #{$mq-small} {
  .SideDrawer {
    display: none;
  }
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(100%);
}

.Title {
  height: 10%;
  margin-bottom: 10px;
  font-size: 32px;
  padding: 20px;
  color: #fff;
  font-family: 'Russo One', sans-serif;
  letter-spacing: 2px;
}
