.PostImageContainer {
  max-width: 70vw;
  width: auto;
  padding: 10px;
  margin: 20px auto 20px auto;
  display: block;
  overflow-x: hidden;

  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
   -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
       animation: fadein 1s;
}

.PostImageDescription {
  margin: 10px auto 0px auto;
  text-align: center;
  display: block;
}

.PostImage {
  max-height: 70vh;
  max-width: 100%;
  width: auto;
  margin: 0 auto;
  text-align: center;
  display: block;
}

.Placeholder {
  height: 70vh;
  width: auto;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Disabled {
  display: none;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}