@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

.Blog {
  position: absolute;
  width: auto;
  left: 0px;
  right: 0px;
  z-index: 40;
  margin-top: 60px;
  margin: 60px 0px 20px 0px;
  overflow-x: hidden;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}