@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

$content-font-size: 1em;
$date-font-size: 1.2em;
$title-font-size: 2em;

$m-m: 1.2;
$m-l: 1.3;
$m-xl: 1.5;
$m-xxl: 2;
$m-r: 3;

$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 86em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px
$bp-retina: 200em;

$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(min-width: #{$bp-retina})";

.Post {
  width: 70%;
  left: 0px;
  right: 0px;
  margin: 60px auto 60px auto;
  position: absolute;
  overflow: hidden;
  z-index: 40;
  border-radius: 0px 0px 5px 5px;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;

  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
   -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
       animation: fadein 1s;

  @media(max-width: $bp-small) {
    width: 90%;
  }
}

.PostContent {

  $margin-top: 0.5em;
  $margin-bottom: 2em;

  text-align: justify;
  margin: $margin-top auto $margin-bottom auto;
  width: 80%;
  line-height: 1.5;
  font-family: 'Ubuntu Mono', monospace;
  overflow: hidden;
  font-size: $content-font-size;

  @media #{$mq-medium} {
    font-size: $content-font-size*$m-m;
    margin: $margin-top*$m-m auto $margin-bottom*$m-m auto;
  }

  @media #{$mq-large} {
    font-size: $content-font-size*$m-l;
    margin: $margin-top*$m-l auto $margin-bottom*$m-l auto;
  }

  @media #{$mq-xlarge} {
    font-size: $content-font-size*$m-xl;
    margin: $margin-top*$m-xl auto $margin-bottom*$m-xl auto;
  }

  @media #{$mq-xxlarge} {
    font-size: $content-font-size*$m-xxl;
    margin: $margin-top*$m-xxl auto $margin-bottom*$m-xxl auto;
  }

  @media #{$mq-retina} {
    font-size: $content-font-size*$m-r;
    margin: $margin-top*$m-r auto $margin-bottom*$m-r auto;
  }
}

.PostHeader {
  top: 0px;
  height: calc(30vh + 10vw);
  position: relative;
}

.PostHeaderImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.PostDim {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 5%, transparent 40%);
  display: flex;
  flex-direction: column-reverse;
}

.PostTitle {
  $margin-bottom: 0.4em;
  $shd: 0.2em;

  z-index: 60;
  color: #fff;
  text-shadow: $shd $shd $shd #000;
  font-family: 'Ubuntu Mono', monospace;
  font-size: $title-font-size;
  text-align: left;
  margin-bottom: $margin-bottom;
  margin-top: 0px;
  margin-left: 10%;
  margin-right: 10%;

  @media #{$mq-medium} {
    font-size: $title-font-size*$m-m;
    margin-bottom: $margin-bottom*$m-m;
  }

  @media #{$mq-large} {
    font-size: $title-font-size*$m-l;
    margin-bottom: $margin-bottom*$m-l;
  }

  @media #{$mq-xlarge} {
    font-size: $title-font-size*$m-xl;
    margin-bottom: $margin-bottom*$m-xl;
  }

  @media #{$mq-xxlarge} {
    font-size: $title-font-size*$m-xxl;
    margin-bottom: $margin-bottom*$m-xxl;
  }

  @media #{$mq-retina} {
    font-size: $title-font-size*$m-r;
    margin-bottom: $margin-bottom*$m-r;
  }
}

.PostDate {
  $shd: 0.2em;

  z-index: 60;
  color: #fff;
  text-shadow: $shd $shd $shd #000;
  font-family: 'Ubuntu Mono', monospace;
  font-size: $date-font-size;
  text-align: left;
  margin-bottom: 0px;
  margin-left: 10%;
  margin-right: 10%;

  @media #{$mq-medium} {
    font-size: $date-font-size*$m-m;
  }

  @media #{$mq-large} {
    font-size: $date-font-size*$m-l;
  }

  @media #{$mq-xlarge} {
    font-size: $date-font-size*$m-xl;
  }

  @media #{$mq-xxlarge} {
    font-size: $date-font-size*$m-xxl;
  }

  @media #{$mq-retina} {
    font-size: $date-font-size*$m-r;
  }
}

.PostLoading {
  position: absolute; 
  display: block;
  margin-top: 50vh;
  left: 0; 
  right: 0;
  margin-left: auto; 
  margin-right: auto; 
  z-index: 40;
}

.TopSpacer {
  padding-top: 1em;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}