@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

.Post {
  width: 70%;
  left: 0px;
  right: 0px;
  margin: 60px auto 60px auto;
  position: absolute;
  overflow: hidden;
  z-index: 40;
  border-radius: 0px 0px 5px 5px;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;

  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
   -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
       animation: fadein 1s;
}

.PostContent {
  text-align: justify;
  margin: 30px auto 50px auto;
  width: 80%;
  line-height: 1.5;
  font-family: 'Ubuntu Mono', monospace;
  overflow: hidden;
}

.PostHeader {
  top: 0px;
  height: calc(30vh + 10vw);
  position: relative;
}

.PostHeaderImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.PostDim {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 5%, transparent 40%);
  display: flex;
  flex-direction: column-reverse;
}

.PostTitle {
  z-index: 60;
  color: #fff;
  text-shadow: 5px 5px 2px #000;
  font-family: 'Ubuntu Mono', monospace;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 0px;
  margin-left: 10%;
  margin-right: 10%;
}

.PostDate {
  z-index: 60;
  color: #fff;
  text-shadow: 5px 5px 2px #000;
  font-family: 'Ubuntu Mono', monospace;
  text-align: left;
  margin-bottom: 0px;
  margin-left: 10%;
  margin-right: 10%;
}

.PostLoading {
  position: absolute; 
  display: block;
  margin-top: 50vh;
  left: 0; 
  right: 0;
  margin-left: auto; 
  margin-right: auto; 
  z-index: 40;
}

@media (max-width: 850px) {
  .Post {
    width: 90%;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}